@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-path-custom}/Trebuchet MS.ttf") format("truetype");
}

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: bold;
  src: url("#{$font-path-custom}/Trebuchet MS Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: bold;
  src: url("#{$font-path-custom}/Trebuchet MS Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: normal;
  src: url("#{$font-path-custom}/Trebuchet MS.ttf") format("truetype");
}
