/* The typing effect */
@keyframes slide-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: $primary;
  }
}

@keyframes shadow-text {
  from {
    text-shadow: 0 0 0 $primary;
  }
  to {
    text-shadow: 2px 2px 2px $primary;
  }
}