//SINGLE BANNER SCENE
.single-banner{
  height: 100vh;
  position: relative;

  .swiper-container {
    height: 100%;

    .swiper-wrapper {
      .swiper-slide {
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: all ease-in-out;
          transition-duration: 8.7s;
        }

        &.swiper-slide-active{
          img{
            transform: scale(1.2);
          }
        }
      }
    }

    &:before {
      @include overlay(transparent linear-gradient(90deg, #000000 0%, #3E3E3E 31%, #FFFFFF 100%) 0% 0% no-repeat padding-box, .35)
    }

    .heading {
      position: absolute;
      z-index: 3;
      margin-left: #{$padding-section*2};
      margin-right: #{$padding-section};
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: baseline;
      color: #fff;
      text-align: left;
      max-width: 700px;

      .typing {

        //&.active{
        //  h1{
        //    animation: typing 1.5s steps(35, end), blink-caret .75s step-end 1.5s;
        //    border-right: .15em solid $primary;
        //    overflow: hidden;
        //  }
        //}
      }

      p {
        font-size: 2.5rem;
        margin: 4rem 0;
      }

      .btn {
        font-size: 2.5rem;
        padding: 1.5rem 5rem;
        color: #fff;
      }
    }
  }

  .swiper-pagination-bullets {
    margin-right: 3%;

    .swiper-pagination-bullet {
      background: #fff;
      height: 15px;
      width: 15px;
      margin: 20px 0 !important;
    }
  }
}

//ABOUT INTRODUCE
.about-introduce{
  padding-top: $padding-section;
  padding-bottom: $padding-section;

  .content {
    text-align: center;
    margin-left: $padding-section;

    &.paragraph {
      text-align: left;

      h1, h2, h3, h4, h5 {
        margin-bottom: $padding-section;
      }
    }

    &.quote {
      margin: 0 7rem;

      p {
        margin: 0 7%;
        padding-top: 3rem;
        padding-bottom: 5rem;
        position: relative;
        font-size: 3.5rem;
        text-align: left;
        line-height: 7rem;
      }
    }

    p {
      font-size: 2.5rem;
    }

    .image {
      position: relative;
      padding-top: 100%;
      width: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.about-counter{

  .content {
    padding: 90px $padding-section 60px;

    .heading {
      text-align: center;

      p {
        font-size: 2.5rem;
        max-width: 1000px;
        margin: 30px auto;
      }
    }

    .box-parameter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .item {
        text-align: center;
        max-width: 255px;

        .icon {
          height: 100px;
          width: 100px;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .parameter {
          p {
            height: 9rem;
            overflow: hidden;
          }

          h1, h2, h3, h4, h5 {
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 5px;
            &.plus{
              &:after{
                content: ' +';
              }
            }
            &.over{
              &:before{
                content: '>';
              }
            }
          }
        }
      }
    }
  }
}

//FUTURE PARALLAX
.future-parallax{
  width: 100%;
  height: 40vw;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .parallax-window{
    height: 100%;
    width: 100%;
    background: transparent;
  }
}

.headline{
  .content {
    padding-top: $padding-section;
    padding-bottom: $padding-section;
    text-align: center;
  }
}