//1400
@media #{$mq-xxlarge} {
  html {
    font-size: #{$base-font-size * 0.85};
  }

  body {
    margin-top: calc(#{$header-height} - 15px);
  }

  //HEADER
  .navbar {
    padding: 0 8%;

    &.bg-dark {
      background: $gray !important;
    }

    .navbar-brand {
      padding-top: #{$logo-hd-pd - 5};
      padding-bottom: #{$logo-hd-pd - 5};

      img {
        height: #{$logo-hd-h - 5};
      }
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            margin-left: #{$header-item-padding-left - 2};

            .btn {
              padding-left: 1.2rem;
            }
          }
        }
      }
    }
  }

  //FOOTER
  .footer {
    .main {
      .logo {
        img {
          height: #{$logo-hd-h + 20 - 5};
        }
      }
    }
  }

  //HOME PAGE
  .home- {
    &slider {
      .swiper-pagination-bullets {
        .swiper-pagination-bullet {
          height: 14px;
          width: 14px;
        }
      }
    }
  }

  //OUR PROJECT
  .our-project- {
    &list {
      .content {
        .item {
          .item-box {
            .project-heading {
              bottom: 6.5rem;
              left: 9rem;
            }
          }
        }
      }
    }
  }
}

//1200
@media #{$mq-xlarge} {

  html {
    font-size: #{$base-font-size * 0.8};
  }

  body {
    margin-top: calc(#{$header-height} - 30px);
  }

  //HEADER
  .navbar {
    .navbar-brand {
      padding-top: #{$logo-hd-pd - 10};
      padding-bottom: #{$logo-hd-pd - 10};

      img {
        height: #{$logo-hd-h - 10};
      }
    }
  }

  //FOOTER
  .footer {
    .main {
      .logo {
        img {
          height: #{$logo-hd-h + 20 - 10};
        }
      }
    }
  }

  //HOME PAGE
  .home- {
    &slider {
      .swiper-pagination-bullets {
        .swiper-pagination-bullet {
          height: 13px;
          width: 13px;
        }
      }
    }
  }

  //OUR PROJECT
  .our-project- {
    &heading {
      .content {
        .sub {
          ul {
            li {
              a {
                padding: 0 40px;
              }
            }
          }
        }
      }
    }

    &list {
      .content {
        .item {
          .item-box {
            .project-heading {
              bottom: 6rem;
              left: 8rem;
            }
          }
        }
      }
    }
  }

  //project DETAIL
  .project-detail- {
    &slide {
      padding-top: 80px;
    }
  }

  .about-page-{
    &heading{
      .content{
        margin-left: 0;
      }
    }
  }
}

//992
@media #{$mq-large} {

  html {
    font-size: #{$base-font-size * 0.75};
  }

  body {
    margin-top: calc(#{$header-height} - 45px);
  }

  //HEADER
  .navbar {
    &.is-home {
      .navbar-collapse {
        background: $gray;
        border-radius: 10px;

        .navbar-nav {
          .nav-item {
            .nav-link {
              padding-top: #{$logo-hd-pd/3};
              padding-bottom: #{$logo-hd-pd/3};
            }
          }
        }
      }

      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            .nav-link {
              .dropdown-menu {
                margin-right: 2rem;
              }
            }
          }
        }
      }
    }

    .navbar-brand {
      padding-top: #{$logo-hd-pd - 15};
      padding-bottom: #{$logo-hd-pd - 15};

      img {
        height: #{$logo-hd-h - 15};
      }
    }
  }


  //FOOTER
  .footer {
    .main {
      .logo {
        img {
          height: #{$logo-hd-h + 20 - 15};
        }
      }
    }
  }

  //HOME PAGE
  .home- {
    &slider {
      .swiper-pagination-bullets {
        .swiper-pagination-bullet {
          height: 12px;
          width: 12px;
        }
      }
    }
  }


  //OUT PROJECT
  .our-project- {
    &heading {
      .content {
        padding-top: $padding-section-vertical - 20;
        padding-bottom: #{$padding-section-vertical - 40};

        h1 {
          font-size: 7rem;
        }

        .sub {
          ul {
            li {
              a {
                padding: 0 30px;
              }
            }
          }
        }
      }
    }

    &list {
      .content {
        .item {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;

          &:first-child {
            .item-box {
              padding-top: #{100% * 639/812};

              .project-heading {
                p {
                  max-width: unset;
                }
              }
            }
          }
        }
      }
    }
  }

  //project DETAIL
  .project-detail- {
    &slide {
      padding-top: 70px;
    }

    &information {
      .content {
        .parameter {
          padding: 0 15px;
        }
      }
    }

    &relate {
      .content {
        .next,
        .prev {
          .content {
            display: block;

            .thumbnail {
              margin: 0;
            }
          }
        }

        .next {
          .content {
            .text {
              p {
                text-align: right;
              }
            }

            .thumbnail {
              float: right;
            }
          }
        }
      }
    }
  }

  //EXPERTISE
  .expertise- {
    &list {
      .content {
        flex-direction: column;

        .item {
          .item-box {
            padding-top: #{100% * (3/4)};
          }

          &:first-child {
            border-radius: 5px 5px 0 0;
          }

          &:last-child {
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }
  }

  .contact-page- {
    &form {
      .content {
        .form {
          margin-top: 5rem;
        }
      }
    }

    &future {
      .content {
        .information {
          margin-top: 5rem;
        }
      }
    }
  }
}


//768
@media #{$mq-medium} {


  html {
    font-size: #{$base-font-size * 0.7};
  }

  body {
    margin-top: calc(#{$header-height} - 60px);
  }

  //HEADER
  .navbar {
    .navbar-brand {
      padding-top: #{$logo-hd-pd - 20};
      padding-bottom: #{$logo-hd-pd - 20};

      img {
        height: #{$logo-hd-h - 20};
      }
    }
  }

  //FOOTER
  .footer {
    .main {
      .logo {
        img {
          height: #{$logo-hd-h};
        }
      }
    }
  }


  //HOME PAGE
  .home- {
    &slider {
      .swiper-container {
        .heading {
          .typing {
            h1 {
              font-size: 7rem;
            }
          }
        }
      }

      .swiper-pagination-bullets {
        .swiper-pagination-bullet {
          height: 11px;
          width: 11px;
        }
      }
    }
  }

  //OUR PROJECT
  .our-project- {
    .heading {
      .content {
        padding-top: $padding-section-vertical - 40;
        padding-bottom: #{$padding-section-vertical - 60};

        .sub {
          ul {
            li {
              a {
                padding: 0 20px;
              }
            }
          }
        }

        .quote {
          margin: 0;

          h1, h2, h3, h4, h5 {
            &:before {
              left: 10px;
              top: 10px;
              z-index: -1;
              height: 100px;
              width: 100px;
              opacity: .3;
            }
          }
        }
      }
    }
  }

  //project DETAIL
  .project-detail- {
    &slide {
      padding-top: 60px;
    }

    &key-future {
      .list {
        li {
          width: 130px;
        }
      }
    }
  }

  //EXPERTISE
  .expertise- {
    &individual- {
      &executive {
        .content {
          .paragraph {
            column-count: 1;
          }
        }
      }
    }
  }

  //ABOUT PAGE
  .about-page- {
    &statistic {
      .content {
        .box-parameter {
          flex-direction: column;

          .item {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

//576
@media #{$mq-small} {

  html {
    font-size: #{$base-font-size * 0.65};
  }

  body {
    margin-top: calc(#{$header-height} - 75px);
  }

  //HEADER
  .navbar {
    .navbar-brand {
      padding-top: #{$logo-hd-pd - 25};
      padding-bottom: #{$logo-hd-pd - 25};

      img {
        height: #{$logo-hd-h - 25};
      }
    }
  }

  //FOOTER
  .footer {
    .main {
      .logo {
        img {
          height: #{$logo-hd-h - 5};
        }
      }
    }
  }

  //HOME PAGE
  .home- {
    &slider {
      .swiper-pagination-bullets {
        .swiper-pagination-bullet {
          height: 10px;
          width: 10px;
        }
      }
    }
  }

  //OUR PROJECT
  .our-project- {
    &heading {
      .content {
        .sub {
          ul {
            li {
              a {
                padding: 0 10px;
              }
            }
          }
        }
      }
    }

    &list {
      .content {
        .item {
          .item-box {
            padding-top: 100%;

            .project-heading {
              bottom: 5rem;
              left: 5rem;

              p {
                height: 6rem;
              }
            }
          }

          &:first-child {
            .item-box {
              padding-top: 100%;
            }
          }
        }
      }
    }
  }

  //PROJECT DETAIL
  .project-detail- {
    &slide {
      padding-top: 50px;
    }

    &information {
      .content {
        padding: #{$padding-section * .5} 7%;
      }
    }

    &key-future {
      .list {
        li {
          width: 120px;

          .icon {
            img {
              height: 40px;
              width: 40px;
            }
          }
        }
      }
    }

    &relate {
      .content {
        .next, .prev {
          .content {
            .thumbnail {
              height: 75px;
              width: 100px;
            }
          }
        }
      }
    }
  }

  .expertise- {
    &individual- {
      &heading {
        .content {
          h1 {
            font-size: 6rem;
          }

          h2 {
            font-size: 5rem;
          }

          h3 {
            font-size: 4rem;
          }

          &.quote {
            margin: 0;

            h1, h2, h3, h4, h5 {
              &:before {
                z-index: -1;
                left: 0;
                top: 5rem;
                opacity: .5;
                height: 15rem;
                width: 15rem;
              }
            }
          }
        }
      }
    }
  }

  .about-page- {
    &heading {
      .content {
        &.quote {
          margin: 0;

          p {
            &:before {
              z-index: -1;
              left: 0;
              top: 5rem;
              opacity: .5;
              height: 15rem;
              width: 15rem;
            }
          }
        }
      }
    }
  }

  .contact-form {
    .content {
      margin: 0;
    }
  }
}