*,
html {
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
}

body {
  line-height: $base-line-height;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: $gray-dark;
  margin-top: $header-height;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: #{$base-line-height};
  font-size: 2.1rem;
}

h1 {
  font-size: 8rem;
  line-height: $header-line-height;
}

h2 {
  font-size: 7rem;
  line-height: #{$header-line-height - 1};
}

h3 {
  font-size: 6rem;
  line-height: #{$header-line-height - 1.5};
}

h4 {
  font-size: 5rem;
  line-height: #{$header-line-height - 2.2};
}

h5 {
  font-size: 4rem;
  line-height: #{$header-line-height - 3};
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.bg- {
  &gray-light {
    background-color: $gray;
  }
}

button,
.btn {
  outline: none;
  color: #fff;
  border-radius: 5px;

  &:focus {
    outline: none;
    box-shadow: unset;
  }

  &.radius-5 {
    border-radius: 5px;
  }

  &.btn- {
    &sm {
      font-size: 1.9rem;
      padding: .1rem 2rem;
    }

    &lg {
      font-size: 2rem;
      font-weight: bold;
    }

    &scroll-top {
      i {
        height: 20px;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 30px;
        color: $primary;
      }

      background: white;
      box-shadow: 0px 3px 6px #00000029;
      position: absolute;
      top: 60px;
      right: #{$padding-section/2};
      padding: 5px;
    }

    &arrow {
      font-family: FontAwesome;
      text-decoration: none;

      &.up {
        &:after {
          content: '\f077';
          font-size: 3rem;
          line-height: 3rem;
          color: $primary;
        }
      }

      &.down {
        &:after {
          content: '\f078';
          font-size: 3rem;
          line-height: 3rem;
          color: $primary;
        }
      }

      &:hover {
        border: none;
      }
    }


    &submit {
      font-size: 2rem;
      padding: 12px 70px;
      background: #EBEBEB 0% 0% no-repeat padding-box;
      border-radius: 5px;
      color: #202020;
      margin: 5px;
    }
  }

  &.arrow-open-close {
    position: relative;
    width: $arrow-size;
    height: 20px;
    cursor: pointer;

    &:before, &:after {
      transition: 0.15s all ease-in-out;
      transition-delay: .4s;
      position: absolute;
      content: '';
      width: 54%;
      height: $arrow-width;
      background: $arrow-color;
      top: 49%;
      border-radius: 5px;
    }

    &:before {
      transform: rotate(230deg);
      left: 2px;
    }

    &:after {
      transform: rotate(-230deg);
      right: 2px;
    }
  }
}

.container-fluid {
  padding: 0 $padding-section;
}


//HEADER
.navbar {
  padding: 0 $padding-section;
  box-shadow: 0px 3px 6px #00000029;

  &.bg-dark {
    background: $gray !important;

    &.is-home {
      background: none !important;
      box-shadow: unset;
    }
  }

  .navbar-brand {
    padding-top: $logo-hd-pd;
    padding-bottom: $logo-hd-pd;
    margin-left: $padding-section;

    img {
      height: $logo-hd-h;
    }
  }

  .navbar-toggler {
    i {
      color: $primary;
      font-weight: 500;
      font-size: 4rem;
    }
  }

  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 2.5rem;
          font-family: "Open Sans";
          font-weight: bold;
          text-transform: capitalize;
          color: #fff;
          margin-left: $header-item-padding-left;
          padding-top: #{$logo-hd-pd/3};
          padding-bottom: #{$logo-hd-pd/3};

          a, .btn {
            font-size: 2.5rem;
            font-weight: bold;
            text-transform: capitalize;
            color: #fff;
            text-decoration: none;
          }

          .dropdown-toggle {
            &:after {
              content: unset;
            }
          }

          .dropdown-menu {
            background: $gray-dark;
            border: none;
            border-radius: 10px;
            padding: 10px;

            .dropdown-item {
              font-size: 2rem;
              padding: 1rem 5rem 1rem 1rem;
              color: #fff;
              font-family: 'Open Sans', sans-serif;
              transition: background-color .2s;
              border-radius: 5px;

              &:hover {
                background: $primary;
              }
            }
          }
        }
      }
    }
  }
}

//FOOTER
.footer {
  padding: 5rem $padding-section;
  background-color: $gray;
  position: relative;

  .main {
    display: flex;
    flex-wrap: wrap;

    .logo {
      margin: 0 $padding-section;

      img {
        height: #{$logo-hd-h + 20px};
      }
    }

    .menu {
      margin-left: $padding-section;

      ul {
        list-style-type: none;

        li {
          font-size: 2rem;
        }
      }
    }
  }

  .-copyright {
    text-align: center;
    margin-top: 2rem;
  }
}


//HOME PAGE
.home- {
  &slider {
    //height: 100vh;
    //position: relative;
    //
    //.swiper-container {
    //  height: 100%;
    //
    //  .swiper-wrapper {
    //    .swiper-slide {
    //      overflow: hidden;
    //      img {
    //        height: 100%;
    //        width: 100%;
    //        object-fit: cover;
    //        transition: all ease-in-out;
    //        transition-duration: 8.7s;
    //      }
    //
    //      &.swiper-slide-active{
    //        img{
    //          transform: scale(1.2);
    //        }
    //      }
    //    }
    //  }
    //
    //  &:before {
    //    @include overlay(transparent linear-gradient(90deg, #000000 0%, #3E3E3E 31%, #FFFFFF 100%) 0% 0% no-repeat padding-box, .35)
    //  }
    //
    //  .heading {
    //    position: absolute;
    //    z-index: 3;
    //    margin-left: #{$padding-section*2};
    //    margin-right: #{$padding-section};
    //    height: 100%;
    //    display: flex;
    //    justify-content: center;
    //    flex-direction: column;
    //    align-items: baseline;
    //    color: #fff;
    //    text-align: left;
    //    max-width: 700px;
    //
    //    .typing {
    //
    //      //&.active{
    //      //  h1{
    //      //    animation: typing 1.5s steps(35, end), blink-caret .75s step-end 1.5s;
    //      //    border-right: .15em solid $primary;
    //      //    overflow: hidden;
    //      //  }
    //      //}
    //    }
    //
    //    p {
    //      font-size: 2.5rem;
    //      margin: 4rem 0;
    //    }
    //
    //    .btn {
    //      font-size: 2.5rem;
    //      padding: 1.5rem 5rem;
    //      color: #fff;
    //    }
    //  }
    //}
    //
    //.swiper-pagination-bullets {
    //  margin-right: 3%;
    //
    //  .swiper-pagination-bullet {
    //    background: #fff;
    //    height: 15px;
    //    width: 15px;
    //    margin: 20px 0 !important;
    //  }
    //}
  }
}

//OUR project PAGE
.our-project- {
  &heading {
    .content {
      padding-top: $padding-section-vertical;
      padding-bottom: #{$padding-section-vertical - 20};
      text-align: center;

      h1 {
        padding-top: 3rem;
        padding-bottom: 5rem;
      }

      .quote {
        margin: 0 7rem;

        h1, h2, h3, h4, h5 {
          margin: 0 $padding-section;
          padding-bottom: 7rem;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 7rem;
            height: 7rem;
            background-image: url('../images/icons/Icon_Quote@2x.png');
            background-repeat: no-repeat;
            background-size: contain;
            left: -10rem;
          }

          &:after {
            content: '- ' attr(data-author);
            position: absolute;
            font-size: 3rem;
            right: 0;
            bottom: 0rem;
          }
        }
      }

      p {
        font-size: 4rem;
        font-weight: 500;
        max-width: 900px;
        margin: -2rem auto 0;
        line-height: 6rem;
      }

      .sub {
        margin-top: 5rem;

        ul {
          display: flex;
          justify-content: center;
          list-style-type: none;

          li {

            a {
              font-size: 2.3rem;
              padding: 0 50px;
              line-height: 3rem;
              color: #fff;
              text-decoration: none;

              &:hover {
                color: $primary;
              }
            }

            &:not(:first-child) {
              border-left: 1px solid #fff;
            }

            &.active {
              a {
                color: #D89F4B;
              }
            }
          }
        }
      }
    }
  }

  &list {
    margin-bottom: $padding-section-vertical;

    .content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .item {
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%;
        position: relative;
        padding: 10px;

        &:first-child {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;

          .item-box {
            padding-top: #{100% * 639/812 / 2};

            .project-heading {
              max-width: 45%;
            }
          }
        }

        .item-box {
          position: relative;
          padding-top: #{100% * 639/812};
          cursor: pointer;
          overflow: hidden;

          .thumbnail {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            border: none;
            border-radius: 10px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 1s;
            }

            &:before {
              @include overlay(transparent linear-gradient(91deg, #000000 0%, #020202F7 14%, #54545400 50%, #00000000 75%, #00000080 100%) 0% 0% no-repeat padding-box, .59);
              width: 200%;
              transition: left 1s;
            }
          }

          .project-heading {
            position: absolute;
            z-index: 10;
            bottom: 7rem;
            left: 10rem;
            margin-right: 5rem;
            text-align: left;

            p {
              line-height: 3rem;
              height: 9rem;
              overflow: hidden;

              &:first-child {
                text-transform: uppercase;
                height: auto;
              }
            }

            h5 {
              text-transform: capitalize;
              position: relative;
            }

            .btn {
              margin-top: 2rem;
            }
          }

          &:hover {
            .project-heading {
              h3 {
                animation: shadow-text 1s;
                animation-fill-mode: forwards;
              }
            }

            .thumbnail {
              &:before {
                left: -75%;
              }

              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }

}


//project DETAIL PAGE
.project-detail- {
  &slide {
    padding-top: $padding-section-vertical;

    .content {
      height: #{100vw * (6/16)};

      .swiper-container {
        height: 100%;

        .swiper-wrapper {
          border-radius: 10px;

          .swiper-slide {
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      background: white;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 2px;
      padding: 15px;;
      height: 20px;
      width: 20px;
      line-height: 20px;
    }

    .swiper-button-prev {
      left: 4%;
    }

    .swiper-button-next {
      right: 4%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      color: $primary;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      display: block;
    }

    .swiper-pagination-bullet {
      background: #fff;
      opacity: 1;
      margin: 0 1rem !important;
      height: 10px;
      width: 10px;

      &.swiper-pagination-bullet-active {
        background: $primary;
      }
    }
  }

  &information {
    .content {
      padding: $padding-section-vertical $padding-section;

      .information {
        .btn {
          margin-top: 3rem;
          margin-bottom: 6rem;
        }
      }

      .parameter {
        padding-left: 100px;

        ul {
          list-style-type: none;

          li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 13px;
            padding-bottom: 13px;
            border-bottom: 1px solid #707070;

            p, a {
              font-size: 2rem;
              color: #fff;
            }

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &key-future {
    background: $gray;
    text-align: center;

    h1, h2, h3, h4, h5 {
      text-align: center;
      padding-top: 71px;
      padding-bottom: 20px;
    }

    p {
      font-size: 2.4rem;
      max-width: 800px;
      height: 9rem;
      overflow: hidden;
      text-align: center;
      word-wrap: break-word;
      margin: 0 auto;
    }

    .list {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 60px;

      li:nth-child(n+7) {
        display: none;
      }

      li {
        width: 164px;
        padding: 10px;
        margin-bottom: 40px;

        .icon {
          width: 58px;
          height: 58px;
          margin: 0 auto;
          display: block;

          img {
            width: 58px;
            height: 58px;
            object-fit: contain;
          }
        }

        p {
          font-size: 1.8rem;
          padding-top: 4rem;
          line-height: 3rem;
          height: auto;
        }
      }
    }

    .toggle-btn {
      cursor: pointer;
      width: 100%;
      max-width: 130px;
      margin: 0 auto;
      padding-bottom: 10px;

      &.hide-toggle {
        .arrow-open-close {
          &:before {
            transform: rotate(125deg);
            left: 2px;
          }

          &:after {
            transform: rotate(-125deg);
            right: 2px;
          }
        }
      }
    }
  }

  &relate {
    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin: $padding-section-vertical 0;

      .prev,
      .next {
        display: flex;
        cursor: pointer;
        flex-direction: row;
        text-decoration: none;

        .arrow {
          font-size: 4rem;
          line-height: 5rem;
          color: $primary;

          i {
            font-weight: 900;
          }
        }

        .content {
          margin: 0 16px;
          display: flex;

          h5 {
            color: #fff;
          }

          p {
            font-size: 2.3rem;
            color: $primary;
            font-weight: 500;
            margin-top: 15px;
          }

          .thumbnail {
            height: 130px;
            width: 160px;
            border-radius: 10px;
            overflow: hidden;
            margin: 0 23px;
            flex-shrink: 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 1s;
            }
          }
        }

        &:hover {
          .thumbnail {
            img {
              transform: scale(1.2);
            }
          }
        }
      }

      .next {
        .content {
          flex-direction: row-reverse;

          .text {
            h5 {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

//CONTACT FORM
.contact-form {
  .content {
    padding: 0 15px $padding-section-vertical;
    margin: 0 $padding-section;

    p {
      font-size: 3.5rem;
      margin: 3rem 0;
      font-weight: 500;
    }

    .image {
      position: relative;
      padding-top: 50%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        object-fit: cover;
      }
    }

    .form-label-float {
      margin-left: -7px;
      margin-right: -7px;

      input {
        height: 43px;
        font-size: 2rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        padding: 25px 30px;
      }

      textarea {
        height: 150px;
        font-size: 2rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        padding: 10px 30px;
      }

      .form-group {
        padding: 12px;
        width: 100%;
      }
    }
  }
}

//project EXPERTISE PAGE
.expertise- {
  &heading {
    .content {
      padding-top: $padding-section;
      padding-bottom: $padding-section;
      text-align: center;

      p {
        font-size: 4rem;
        line-height: 6rem;
        max-width: 1000px;
        margin: 50px auto 0;
      }
    }
  }

  &list {
    .content {
      display: flex;
      flex-direction: row;
      margin-top: $padding-section/2;
      margin-bottom: $padding-section;

      .item {
        flex: 1;
        position: relative;
        overflow: hidden;

        .item-box {
          position: relative;
          padding-top: #{100% * (762/574)};
          cursor: pointer;

          .heading {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 0;
            z-index: 10;
            height: 100%;
            padding: 6rem 5rem;

            h5 {
              font-size: 3rem;
            }

            .btn {
              width: 200px;
            }
          }

          .thumbnail {
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 1s;
            }
          }

          &:before {
            @include overlay(transparent linear-gradient(92deg, #000000 0%, #020202F7 28%, #54545400 50%, #00000000 75%, #00000080 100%) 0% 0% no-repeat padding-box, .59);
            width: 200%;
            transition: left 1s;
          }
        }

        &:first-child {
          border-radius: 5px 0 0 5px;
        }

        &:last-child {
          border-radius: 0 5px 5px 0;
        }

        &:hover {
          .item-box {
            &:before {
              left: -75%;
            }

            .thumbnail {
              img {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }

  &individual- {
    &heading {
      .content {
        padding-top: $padding-section;
        padding-bottom: $padding-section;
        text-align: center;

        &.quote {
          margin: 0 7rem;
          text-align: left;

          h1, h2, h3, h4, h5 {
            margin: 0 $padding-section;
            padding-bottom: 7rem;
            position: relative;

            &:before {
              content: '';
              position: absolute;
              width: 7rem;
              height: 7rem;
              background-image: url('../images/icons/Icon_Quote@2x.png');
              background-repeat: no-repeat;
              background-size: contain;
              left: -10rem;
            }

            &:after {
              content: '- ' attr(data-author);
              position: absolute;
              font-size: 3rem;
              right: 0;
              bottom: 0rem;
            }
          }
        }

        p {
          font-size: 4rem;
          font-weight: 500;
          max-width: 900px;
          margin: -2rem auto 0;
          line-height: 6rem;
        }

      }
    }

    &future {
      width: 100%;
      height: 40vw;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &executive {
      &.bg-gray-light {
        background-color: $gray;
      }

      .content {
        padding: 60px $padding-section;

        .heading {
          display: block;
          margin-bottom: 4rem;
        }

        .paragraph {
          column-count: 2;
          column-gap: 7rem;
        }
      }
    }

    &map {
      width: 100%;
      height: 40vw;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &future-project {
      padding-top: 90px;
      padding-bottom: 90px;

      > h5 {
        margin-bottom: 5rem;
      }

      .item {
        margin-bottom: 50px;

        .thumbnail {
          width: 100%;
          padding-top: 100%;
          border-radius: 10px;
          overflow: hidden;
          position: relative;

          img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .heading {
          padding-top: 24px;

          p {
            text-transform: uppercase;
            margin-bottom: 0;
          }

          h1, h2, h3, h4, h5 {
            text-transform: capitalize;
            padding-bottom: 15px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

//ABOUT PAGE
.about-page- {
  &heading {
    //padding-top: $padding-section;
    //padding-bottom: $padding-section;
    //
    //.content {
    //  text-align: center;
    //  margin-left: $padding-section;
    //
    //  &.paragraph {
    //    text-align: left;
    //
    //    h1, h2, h3, h4, h5 {
    //      margin-bottom: $padding-section;
    //    }
    //  }
    //
    //  &.quote {
    //    margin: 0 7rem;
    //
    //    p {
    //      margin: 0 7%;
    //      padding-top: 3rem;
    //      padding-bottom: 5rem;
    //      position: relative;
    //      font-size: 3.5rem;
    //      text-align: left;
    //      line-height: 7rem;
    //
    //      &:before {
    //        content: '';
    //        position: absolute;
    //        width: 7rem;
    //        height: 7rem;
    //        background-image: url('../images/icons/Icon_Quote@2x.png');
    //        background-repeat: no-repeat;
    //        background-size: contain;
    //        left: -10rem;
    //        top: 6rem;
    //      }
    //
    //      &:after {
    //        content: '- ' attr(data-author);
    //        position: absolute;
    //        font-size: 3rem;
    //        right: 0;
    //        bottom: 0rem;
    //      }
    //    }
    //  }
    //
    //  p {
    //    font-size: 2.5rem;
    //  }
    //
    //  .image {
    //    position: relative;
    //    padding-top: 100%;
    //    width: 100%;
    //    overflow: hidden;
    //
    //    img {
    //      position: absolute;
    //      top: 0;
    //      width: 100%;
    //      height: 100%;
    //      object-fit: cover;
    //    }
    //  }
    //}
  }

  &statistic {
    //.content {
    //  padding: 90px $padding-section 60px;
    //
    //  .heading {
    //    text-align: center;
    //
    //    p {
    //      font-size: 2.5rem;
    //      max-width: 1000px;
    //      margin: 30px auto;
    //    }
    //  }
    //
    //  .box-parameter {
    //    display: flex;
    //    flex-direction: row;
    //    justify-content: space-between;
    //
    //    .item {
    //      text-align: center;
    //      max-width: 255px;
    //
    //      .icon {
    //        height: 100px;
    //        width: 100px;
    //        margin: 0 auto;
    //
    //        img {
    //          width: 100%;
    //          height: 100%;
    //          object-fit: contain;
    //        }
    //      }
    //
    //      .parameter {
    //        p {
    //          height: 9rem;
    //          overflow: hidden;
    //        }
    //
    //        h1, h2, h3, h4, h5 {
    //          font-weight: bold;
    //          margin-top: 20px;
    //          margin-bottom: 5px;
    //          &.plus{
    //            &:after{
    //              content: ' +';
    //            }
    //          }
    //          &.over{
    //            &:before{
    //              content: '>';
    //            }
    //          }
    //        }
    //      }
    //    }
    //  }
    //}
  }

  &future {
    //width: 100%;
    //height: 40vw;
    //
    //img {
    //  height: 100%;
    //  width: 100%;
    //  object-fit: cover;
    //}
    //
    //.parallax-window{
    //  height: 100%;
    //  width: 100%;
    //  background: transparent;
    //}
  }
}

.contact-page- {
  &form {
    .content {
      margin: 0;
      padding-top: $padding-section-vertical;

      .image {
        padding: 50% 0 0 0;
      }

      .form {
        padding: 0;
      }
    }
  }

  &future {
    .content {
      padding: $padding-section-vertical 0;
      margin-bottom: $padding-section-vertical;
      display: flex;
      align-items: center;

      .information {
        display: flex;
        justify-content: space-between;

        .list {
          &:not(:first-child) {
            margin-left: 5rem;
          }

          p {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}