//PATH
$font-path-custom:  "../fonts" !default;


// Breakpoints
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1200px;
$bp-xxlarge: 1400px;

// Media Queries
$mq-small: "(max-width: #{$bp-small})";
$mq-medium: "(max-width: #{$bp-medium})";
$mq-large: "(max-width: #{$bp-large})";
$mq-xlarge: "(max-width: #{$bp-xlarge})";
$mq-xxlarge: "(max-width: #{$bp-xxlarge})";

//PADDING
$padding-section : 7%;
$padding-section-vertical : 90px;

//COLOR
$primary : #D1A052;
$gray : #262626;
$gray-dark : #1D1D1D;

// FONT-SIZE
$base-font-size: 10px;

// LINE-HEIGHT
$base-line-height: 4.5rem;
$header-line-height: 9rem;

//LOGO
$logo-hd-h : 60px;
$logo-hd-pd : 40px;

//HEADER
$header-item-padding-left: 6rem;
$header-height : #{$logo-hd-h + $logo-hd-pd*2};

//BUTTON
$arrow-size: 30px;
$arrow-width:4px;
$arrow-color: $primary;