@mixin overlay($color, $opacity){
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: $color;
  box-shadow: 0px 3px 6px #00000029;
  opacity: $opacity;
  top: 0;
  left: 0;
  z-index: 2;
}